/* Dynamic Sizing */
@font-face {
  font-family: "Bebas Neue";
  src: url("/fonts/webfonts/BebasNeue-Regular.woff2") format("woff2"), url("/fonts/webfonts/BebasNeue-Regular.woff") format("woff"), url("/fonts/webfonts/BebasNeue-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/webfonts/Montserrat-Medium.woff2") format("woff2"), url("/fonts/webfonts/Montserrat-Medium.woff") format("woff"), url("/fonts/webfonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/webfonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Press Start 2P";
  src: url("/fonts/webfonts/PressStart2P-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Source Code Pro";
  src: url("/fonts/webfonts/SourceCodePro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
*, *::after, *::before {
  font-family: "Bebas Neue", cursive;
  font-size: calc(clamp(1rem, 0.6707920792rem + 1.3861386139vw, 2.75rem) * 1.6);
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  height: 100vh;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::after, *::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  box-shadow: none;
  border: none;
  transition: 0.18s;
}

:root {
  background: #000;
  box-shadow: none;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
}

li, ol, ul {
  list-style: none;
  text-decoration: none;
}

h1 {
  font-size: calc(clamp(1rem, 0.6707920792rem + 1.3861386139vw, 2.75rem) * 1.6 * 1.6);
}

p, li, ol, ul, a {
  font-weight: 700;
  font-size: calc(clamp(1rem, 0.6707920792rem + 1.3861386139vw, 2.75rem) * 0.75);
  font-family: "Montserrat", sans-serif;
}

.primary-wrapper {
  background-color: #e68f75;
}

.monochromeA-wrapper {
  background-color: #de6c4a;
}

.monochromeB-wrapper {
  background-color: #eeb2a0;
}

.analogousA-wrapper {
  background-color: #e67593;
}

.analogousB-wrapper {
  background-color: #e6c875;
}

.triadicA-wrapper {
  background-color: #8f75e6;
}

.triadicB-wrapper {
  background-color: #75e68f;
}

.tetradicA-wrapper {
  background-color: #93e675;
}

.tetradicB-wrapper {
  background-color: #75cce6;
}

.tetradicC-wrapper {
  background-color: #c875e6;
}

.neutral-wrapper {
  background-color: #adadad;
}

.header, .footer {
  display: relative;
  color: #fff;
}

.footer {
  border-top: #fff solid 4px;
  background-color: #000;
}

.header {
  background: linear-gradient(to right, hsl(0deg, 70%, 70%), hsl(60deg, 70%, 70%), hsl(120deg, 70%, 70%), hsl(180deg, 70%, 70%), hsl(240deg, 70%, 70%), hsl(300deg, 70%, 70%), hsl(0deg, 70%, 70%));
  border-bottom: solid #000 calc(clamp(1rem, 0.6707920792rem + 1.3861386139vw, 2.75rem) * 0.125);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: calc(clamp(1rem, 0.6707920792rem + 1.3861386139vw, 2.75rem) * 1.6);
  padding-right: calc(clamp(1rem, 0.6707920792rem + 1.3861386139vw, 2.75rem) * 1.6);
}

.navbar-list {
  margin: 0;
  padding: 0;
  text-align: left;
  display: flex;
  gap: calc(clamp(1rem, 0.6707920792rem + 1.3861386139vw, 2.75rem) * 0.75);
}

.navlink {
  text-decoration: none;
  color: #000;
  padding: 4px;
  border: solid 2px transparent;
}

.logo {
  font-family: "Press Start 2P", cursive;
  font-size: calc(clamp(1rem, 0.6707920792rem + 1.3861386139vw, 2.75rem) * 1.6);
  color: #000;
  flex-basis: 1;
  text-shadow: 4px 0px #fff;
  font-weight: 900;
}

.gldlogo {
  width: calc(1.45 * clamp(1rem, 0.6707920792rem + 1.3861386139vw, 2.75rem) * 1.6 * 1.6);
  height: calc(1.45 * clamp(1rem, 0.6707920792rem + 1.3861386139vw, 2.75rem) * 1.6 * 1.6);
  aspect-ratio: 1/1;
  border: 4px solid #000;
  box-shadow: 8px 8px 0px 0px #000;
  padding: 4px;
  margin: 16px;
  background-color: #d01339;
}

.hamburger-toggle {
  position: absolute;
  top: calc(clamp(1rem, 0.6707920792rem + 1.3861386139vw, 2.75rem) * 0.75);
  right: calc(clamp(1rem, 0.6707920792rem + 1.3861386139vw, 2.75rem) * 1.6);
  display: none;
  flex-direction: column;
  gap: calc(clamp(1rem, 0.6707920792rem + 1.3861386139vw, 2.75rem) * 0.125);
  width: calc(clamp(1rem, 0.6707920792rem + 1.3861386139vw, 2.75rem) * 1.6);
  height: calc(clamp(1rem, 0.6707920792rem + 1.3861386139vw, 2.75rem) * 1.6);
}

.navlink:hover, .navlink:focus {
  color: #fff;
  border: solid 2px white;
}

.hamburger-line {
  height: 4px;
  width: 100%;
  background-color: #000;
}

@media (max-width: 750px) {
  .hamburger-toggle {
    display: flex;
  }
  .navbar-list {
    display: none;
    width: 100%;
  }
  .logo {
    width: 80%;
  }
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar-list {
    width: 100%;
    flex-direction: column;
    gap: clamp(1rem, 0.6707920792rem + 1.3861386139vw, 2.75rem);
    padding: clamp(1rem, 0.6707920792rem + 1.3861386139vw, 2.75rem) 0 calc(clamp(1rem, 0.6707920792rem + 1.3861386139vw, 2.75rem) * 0.75);
  }
  .navbar-list li {
    text-align: center;
  }
  .navbar-list.active {
    display: flex;
  }
}
.btn, .textmode {
  position: relative;
  align-items: center;
  border: none;
  cursor: pointer;
  font-size: clamp(1rem, 0.6707920792rem + 1.3861386139vw, 2.75rem);
  background-color: hsl(0deg, 0%, 83.9%);
}

.copy-single, .save-btn {
  position: relative;
  cursor: copy;
}

.copy-single:hover::after,
.copy-single:focus::after,
.save-btn:hover::after,
.save-btn:focus::after {
  font-size: clamp(1rem, 0.6707920792rem + 1.3861386139vw, 2.75rem);
  color: #fff;
  background-color: hsl(0deg, 0%, 55.7%);
  transition-duration: 0s;
  content: attr(data-content);
  text-align: center;
  line-height: 1;
  bottom: 100%;
  left: 0%;
  padding: 6px;
  margin-left: auto;
  position: absolute;
  height: auto;
  width: auto;
  cursor: copy;
  border: 4px solid #000;
  border-bottom: 0;
  border-left: 0;
  border-radius: 0 6px 0 0;
}

.flexbox-clipboard:hover,
.flexbox-history li:hover {
  backdrop-filter: brightness(1.6);
}

.flexbox-clipboard:hover::after {
  font-size: clamp(1rem, 0.6707920792rem + 1.3861386139vw, 2.75rem);
  color: #fff;
  background-color: hsl(0deg, 0%, 55.7%);
  content: attr(data-content);
  text-align: center;
  line-height: 1;
  top: -4px;
  left: -4px;
  padding: 6px;
  margin-left: none;
  position: absolute;
  height: auto;
  width: auto;
  cursor: copy;
  border: 4px solid #000;
  border-radius: 0 0px 6px 0px;
}

.flexbox-history li:hover::after {
  font-size: calc(clamp(1rem, 0.6707920792rem + 1.3861386139vw, 2.75rem) * 0.75);
  color: #fff;
  background-color: hsla(0deg, 0%, 55.7%, 0.6);
  font-weight: 200;
  cursor: pointer;
  white-space: pre;
  align-items: center;
  line-height: 1.125;
  content: "load palette";
  text-align: center;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  position: absolute;
  border: 4px solid #000;
  border-radius: 0 0px 6px 0px;
}

/*   .copy-single:focus::after {
      background-color: $neutral-1000;
  }
 */
.textmode {
  position: relative;
  display: block;
}

.textmode::before {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  justify-content: center;
  line-height: 1.25;
  content: attr(data-content);
  font-size: clamp(1rem, 0.6707920792rem + 1.3861386139vw, 2.75rem);
  white-space: normal;
}

.btn-small {
  flex: 1 1 50%;
  font-size: clamp(1rem, 0.6707920792rem + 1.3861386139vw, 2.75rem);
}

.btn-dual, .textmode {
  flex: 1 1 50%;
  font-size: clamp(1rem, 0.6707920792rem + 1.3861386139vw, 2.75rem);
}

.btn-tiny {
  flex: 1 1 25%;
  font-size: clamp(1rem, 0.6707920792rem + 1.3861386139vw, 2.75rem);
}

.dice {
  align-items: center;
  width: 100%;
  border: none;
  background: linear-gradient(to right, hsl(0deg, 70%, 70%), hsl(60deg, 70%, 70%), hsl(120deg, 70%, 70%), hsl(180deg, 70%, 70%), hsl(240deg, 70%, 70%), hsl(300deg, 70%, 70%), hsl(0deg, 70%, 70%));
  display: flex;
  /*grid-template:20px 1fr 20px / 20px 1fr 20px 1fr 20px;
  cursor:default;*/
}

.dieA {
  transform: rotateZ(-2deg);
}

.dieB {
  transform: rotateZ(1deg);
}

.dieA, .dieB {
  border: solid #000 calc(clamp(1rem, 0.6707920792rem + 1.3861386139vw, 2.75rem) * 0.125);
  box-shadow: #000 calc(clamp(1rem, 0.6707920792rem + 1.3861386139vw, 2.75rem) * 0.25) calc(clamp(1rem, 0.6707920792rem + 1.3861386139vw, 2.75rem) * 0.25) 0px;
  background-color: hsl(0deg, 0%, 55.7%);
  display: grid;
  grid-template: calc(clamp(1rem, 0.6707920792rem + 1.3861386139vw, 2.75rem) * 0.25) repeat(3, 1fr) calc(clamp(1rem, 0.6707920792rem + 1.3861386139vw, 2.75rem) * 0.25)/calc(clamp(1rem, 0.6707920792rem + 1.3861386139vw, 2.75rem) * 0.25) repeat(3, 1fr) calc(clamp(1rem, 0.6707920792rem + 1.3861386139vw, 2.75rem) * 0.25);
  min-height: calc(2.5 * clamp(1rem, 0.6707920792rem + 1.3861386139vw, 2.75rem));
  max-width: 40%;
  margin: auto;
  aspect-ratio: 1/1;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.dots {
  background-color: #fff;
  border: solid #000 calc(clamp(1rem, 0.6707920792rem + 1.3861386139vw, 2.75rem) * 0.125);
  border-radius: 50%;
}

.dotA, .dotD {
  grid-area: 2/2;
}

.dotB {
  grid-area: 3/3;
}

.dotC, .dotG {
  grid-area: 4/4;
}

.dotE {
  grid-area: 2/4;
}

.dotF {
  grid-area: 4/2;
}

.btn:hover, .textmode:hover, .btn:focus-within, .textmode:focus-within {
  outline: none;
  color: #fff;
  background-color: hsl(0deg, 0%, 55.7%);
}

/* .btn:focus-within, .textmode:focus-within {
  //box-shadow: none;
  //border: none;
  outline: none;

  background-color: $neutral-1000;
  color: $neutral-0;  
}
 */
.swatch-palette {
  width: 100%;
  display: grid;
  gap: calc(clamp(1rem, 0.6707920792rem + 1.3861386139vw, 2.75rem) * 0.75);
  padding: calc(clamp(1rem, 0.6707920792rem + 1.3861386139vw, 2.75rem) * 0.5);
}

.primary-picker {
  width: 100%;
  display: grid;
  grid-template: 1fr 11fr/1fr;
  gap: calc(clamp(1rem, 0.6707920792rem + 1.3861386139vw, 2.75rem) * 0.125);
}

.slider-container {
  width: 100%;
  display: flex;
  flex-basis: 100% 100% 100%;
  gap: calc(clamp(1rem, 0.6707920792rem + 1.3861386139vw, 2.75rem) * 0.125);
}

.swatch, .btn-container, .primary-swatch {
  position: relative;
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr;
  row-gap: calc(clamp(1rem, 0.6707920792rem + 1.3861386139vw, 2.75rem) * 0.125);
  background-color: hsl(0deg, 0%, 23.1%);
  border: solid #000 calc(clamp(1rem, 0.6707920792rem + 1.3861386139vw, 2.75rem) * 0.125);
  box-shadow: #000 calc(clamp(1rem, 0.6707920792rem + 1.3861386139vw, 2.75rem) * 0.25) calc(clamp(1rem, 0.6707920792rem + 1.3861386139vw, 2.75rem) * 0.25) 0px;
  cursor: pointer;
  overflow: hidden;
  font-size: calc(clamp(1rem, 0.6707920792rem + 1.3861386139vw, 2.75rem) * 1.6);
}

.swatch, .btn-container {
  grid-template-rows: 1fr calc(1.25 * clamp(1rem, 0.6707920792rem + 1.3861386139vw, 2.75rem));
}

.primary-swatch {
  grid-template-rows: calc(1.25 * clamp(1rem, 0.6707920792rem + 1.3861386139vw, 2.75rem)) 1fr calc(1.25 * clamp(1rem, 0.6707920792rem + 1.3861386139vw, 2.75rem));
}

.btn-random::after {
  position: absolute;
  top: 1rem;
  width: 100%;
  height: 100%;
}

.picker-wrapper {
  position: relative;
  color: black;
}

.primary-wrapper:hover, .picker-wrapper:hover, .dice:hover {
  box-shadow: inset 0px 0px 0px 4px #000;
}

.primary-wrapper:focus-within, .picker-wrapper:focus-within, .dice:focus-within {
  box-shadow: inset 0px 0px 0px 4px #fff;
}

.picker-wrapper::before {
  content: attr(data-content);
  position: absolute;
  text-align: center;
  top: 1rem;
  width: 100%;
  line-height: 90%;
}

.picker-wrapper::after {
  content: attr(data-rating);
  position: absolute;
  text-align: center;
  left: 3px;
  bottom: calc(clamp(1rem, 0.6707920792rem + 1.3861386139vw, 2.75rem) * 0.25);
  width: 100%;
  line-height: 90%;
  font-family: "Montserrat", sans-serif;
  font-size: calc(clamp(1rem, 0.6707920792rem + 1.3861386139vw, 2.75rem) * 0.625);
  font-weight: 500;
}

.primary-wrapper {
  width: auto;
  position: relative;
}

.primary-wrapper::before {
  content: attr(name);
  position: absolute;
  text-align: center;
  left: 0;
  top: calc(1.25 * clamp(1rem, 0.6707920792rem + 1.3861386139vw, 2.75rem));
  width: 100%;
  line-height: 90%;
  font-size: calc(clamp(1rem, 0.6707920792rem + 1.3861386139vw, 2.75rem) * 1.6 * 1.6);
}

.primary-wrapper::after {
  content: attr(data-content);
  position: absolute;
  text-align: center;
  left: 0;
  top: calc(clamp(1rem, 0.6707920792rem + 1.3861386139vw, 2.75rem) * 1.6 * 1.6 * 1.6);
  width: 100%;
  line-height: 90%;
  font-family: "Montserrat", sans-serif;
  font-size: calc(clamp(1rem, 0.6707920792rem + 1.3861386139vw, 2.75rem) * 0.625);
  font-weight: 500;
}

.flexbox-horizontal-btn {
  display: flex;
  gap: calc(clamp(1rem, 0.6707920792rem + 1.3861386139vw, 2.75rem) * 0.125);
}

.flexbox-clipboard {
  display: flex;
  width: 100%;
  overflow: auto;
}

.clipboard, .clipboard-secondary, .flexbox-history li {
  display: flex;
  height: fit-content;
  width: fit-content;
  font-family: "Source Code Pro", monospace;
  font-size: calc(0.65 * clamp(1rem, 0.6707920792rem + 1.3861386139vw, 2.75rem));
  font-weight: 500;
  padding: 0.25em;
  cursor: pointer;
  white-space: pre;
  align-items: center;
  line-height: 1.125;
}

.clipboard, .history {
  position: relative;
  color: #9cdcfe;
}

.flexbox-history {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  overflow: auto;
  gap: 4px;
  align-content: flex-start;
}

.flexbox-history li {
  display: block;
  border: 2px solid hsl(0deg, 0%, 78.8%);
  height: clamp(1rem, 0.6707920792rem + 1.3861386139vw, 2.75rem);
  width: calc(100% - 8px);
  color: #ce9178;
}

.large-picker, .btn-container {
  font-size: calc(clamp(1rem, 0.6707920792rem + 1.3861386139vw, 2.75rem) * 1.6 * 1.6);
}

.picker {
  opacity: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  border: none;
  outline: none;
  -webkit-appearance: none;
}

.slider {
  position: relative;
  opacity: 100%;
  width: 100%;
  height: 100%;
  cursor: ew-resize;
  outline: none;
  -webkit-appearance: none;
  grid-row: 1/span 1;
}

input[type=range]::-webkit-slider-thumb {
  position: relative;
  appearance: none;
  height: calc(clamp(1rem, 0.6707920792rem + 1.3861386139vw, 2.75rem) * 0.75);
  width: calc(clamp(1rem, 0.6707920792rem + 1.3861386139vw, 2.75rem) * 0.75);
  transform: rotate(45deg);
  border-radius: 20%;
  opacity: 50%;
  background: #fff;
}

input[type=range]::-ms-thumb {
  position: relative;
  appearance: none;
  height: calc(clamp(1rem, 0.6707920792rem + 1.3861386139vw, 2.75rem) * 0.75);
  width: calc(clamp(1rem, 0.6707920792rem + 1.3861386139vw, 2.75rem) * 0.75);
  transform: rotate(45deg);
  border-radius: 20%;
  opacity: 50%;
  background: #fff;
}

input[type=range]::-moz-range-thumb {
  position: relative;
  appearance: none;
  height: calc(clamp(1rem, 0.6707920792rem + 1.3861386139vw, 2.75rem) * 0.75);
  width: calc(clamp(1rem, 0.6707920792rem + 1.3861386139vw, 2.75rem) * 0.75);
  transform: rotate(45deg);
  border-radius: 20%;
  opacity: 50%;
  background: #fff;
}

input[name=hue] {
  background: linear-gradient(to right, hsl(0deg, 70%, 70%), hsl(60deg, 70%, 70%), hsl(120deg, 70%, 70%), hsl(180deg, 70%, 70%), hsl(240deg, 70%, 70%), hsl(300deg, 70%, 70%), hsl(0deg, 70%, 70%));
}

input[name=luminance] {
  background: linear-gradient(to left, #fff, #555);
}

input[name=saturation] {
  background: linear-gradient(to right, hsl(0deg, 0%, 70%), hsl(60deg, 10%, 70%), hsl(120deg, 20%, 70%), hsl(180deg, 40%, 70%), hsl(240deg, 80%, 70%), hsl(300deg, 100%, 70%), hsl(0deg, 100%, 70%));
}

input[name=red] {
  background: linear-gradient(to right, #777, #d33);
}

input[name=green] {
  background: linear-gradient(to right, #777, #3d3);
}

input[name=blue] {
  background: linear-gradient(to right, #777, #33d);
}

input[name=tint] {
  background: linear-gradient(to right, #d33, #3d3);
}

input[name=warmth] {
  background: linear-gradient(to left, #dd3, #33d);
}

input[name=lightness] {
  background: linear-gradient(to left, #fff, #555);
}

input[type=range]:focus, input[type=range]:hover {
  border: solid 4px #fff;
}

input[type=range]:hover::before {
  padding: 0;
  content: attr(name);
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
  font-size: clamp(1rem, 0.6707920792rem + 1.3861386139vw, 2.75rem);
  line-height: 120%;
  color: #fff;
}

input[type=range]:focus::before, .fakesliderhover::before {
  padding: 0;
  content: attr(name);
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
  font-size: clamp(1rem, 0.6707920792rem + 1.3861386139vw, 2.75rem);
  line-height: 120%;
  color: #000;
  background-color: rgba(255, 255, 255, 0.6);
}

/* Grid areas */
.header {
  grid-area: header;
}

.swatch-palette {
  grid-area: palette;
}

.footer {
  grid-area: footer;
}

.body-grid {
  background: linear-gradient(to bottom right, hsl(0deg, 0%, 55.7%), hsl(0deg, 0%, 41.2%));
  position: relative;
  top: 0;
  left: 0;
  height: 100vh;
  width: clamp(270px, 100vw, 170em);
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template: "header header header" auto ". palette ." 1fr "footer footer footer" auto/1em 1fr 1em;
}

/*
Grid level 2 areas
*/
.primary-swatch {
  grid-area: picker;
}

.monochromeA {
  grid-area: monochromeA;
}

.monochromeB {
  grid-area: monochromeB;
}

.analogousA {
  grid-area: analogousA;
}

.analogousB {
  grid-area: analogousB;
}

.triadicA {
  grid-area: triadicA;
}

.triadicB {
  grid-area: triadicB;
}

.tetradicA {
  grid-area: tetradicA;
}

.tetradicB {
  grid-area: tetradicB;
}

.tetradicC {
  grid-area: tetradicC;
}

.neutral {
  grid-area: neutral;
}

.btn-copy {
  grid-area: copyAll;
}

.btn-random {
  grid-area: random;
}

.btn-history {
  grid-area: history;
}

/*.clipboard {
    grid-area: clipboard;
}


$picker-height-tiny: 24em;
$swatch-height-tiny: 12em;

$picker-height-small: 16em;
$swatch-height-small: 8em;

$picker-height-medium: 16em;
$swatch-height-medium: 12em;

$picker-height-large: 32em;
$swatch-height-large: 16em;
*/
.swatch-palette {
  overflow-y: auto;
  grid-auto-rows: calc(5.4 * clamp(1rem, 0.6707920792rem + 1.3861386139vw, 2.75rem));
  grid-auto-columns: 1fr;
}

@media all and (min-width: 0px) {
  .swatch-palette {
    grid-template-areas: "picker" "picker" "random" "history" "copyAll" "monochromeA" "monochromeB" "analogousA" "analogousB" "triadicA" "triadicB" "tetradicA" "tetradicB" "tetradicC" "neutral";
  }
}
@media all and (min-width: 37.5em) {
  .swatch-palette {
    grid-template-areas: "picker picker" "picker picker" "random history" "copyAll copyAll" "monochromeA monochromeB" "analogousA analogousB" "triadicA triadicB" "tetradicA tetradicB" "tetradicC neutral";
  }
}
@media all and (min-width: 60em) {
  .swatch-palette {
    grid-template-areas: "picker picker picker picker" "picker picker picker picker" "random history copyAll copyAll" "monochromeA monochromeB copyAll copyAll" "analogousA analogousB triadicA triadicB" "tetradicA tetradicB tetradicC neutral";
    grid-auto-rows: minmax(calc(5 * clamp(1rem, 0.6707920792rem + 1.3861386139vw, 2.75rem)), 1fr);
  }
}
@media all and (min-width: 80em) {
  .swatch-palette {
    grid-template-areas: "picker picker  random history" "picker picker  copyAll copyAll" "monochromeA monochromeB analogousA analogousB" "triadicA triadicB tetradicA tetradicB" "tetradicC neutral neutral tetradicB";
    grid-auto-rows: minmax(calc(5 * clamp(1rem, 0.6707920792rem + 1.3861386139vw, 2.75rem)), 1fr);
  }
}
@media all and (min-width: 120em) {
  .swatch-palette {
    grid-template-areas: "random history picker picker monochromeA monochromeB" "copyAll copyAll picker picker analogousA analogousB" "triadicA triadicB tetradicA tetradicB tetradicC neutral";
    grid-auto-rows: minmax(calc(5 * clamp(1rem, 0.6707920792rem + 1.3861386139vw, 2.75rem)), 1fr);
  }
}

/*# sourceMappingURL=style.css.map */
