/* Error: Can't find stylesheet to import.
 *    ,
 * 12 | @forward '../layouts/default';
 *    | ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   css/sass/utilities/_index.scss 12:1  @use
 *   css/sass/main.scss 1:1               root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Can't find stylesheet to import.\a    \2577 \a 12 \2502  @forward '../layouts/default';\a    \2502  ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   css/sass/utilities/_index.scss 12:1  @use\a   css/sass/main.scss 1:1               root stylesheet";
}
