@use '../abstracts' as *;

.header,.footer {
    display:relative;
    color: $neutral-0;
    
}
.footer {
    border-top: #fff solid 4px;
    background-color: $neutral-1000;
}
.header {
    background: $rainbow-gradient;
    border-bottom: $border;

}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: $gem2;
    padding-right: $gem2;

}
.navbar-list {
    margin: 0;
    padding: 0;
    text-align: left;
    display: flex;
    gap: $gaplg;
}
.navlink {
    text-decoration: none;
    color: $neutral-1000;
    padding: 4px;
    border: solid 2px transparent;
}
.logo {
    font-family: $font-logo;
    font-size: $font-logo-size;
    color: $neutral-1000;
    flex-basis: 1;
    text-shadow: 4px 0px $neutral-0;
    font-weight: 900;
}  
.gldlogo{
    width: calc(1.45 * $gem3);
    height: calc(1.45 * $gem3);
    aspect-ratio: 1/1;
    border: 4px solid #000;
    box-shadow: 8px 8px 0px 0px #000;
    //outline: 2px solid #fff;
    //border-radius: 50%;
    padding: 4px;
    margin: 16px;
    background-color: #d01339;//transparent;// #fff; //#6bff70;
}

.hamburger-toggle {
    position: absolute;
    top: $gem3Quart;
    right: $gem2;
    display: none;
    flex-direction: column;
    gap: $gap;
    //justify-content: space-around;
    width: $gem2;
    height: $gem2;

}
.navlink:hover, .navlink:focus {
    color: $neutral-0;
    border: solid 2px white;
}

.hamburger-line {
    height: 4px;
    width: 100%;
    background-color: $neutral-1000;
   // border-radius: 10px
}

@media (max-width: 750px) {
    .hamburger-toggle {
        display: flex;
    }
    .navbar-list {
        display: none;
        width: 100%;
    }
    .logo {

        width: 80%;
    }
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar-list {
        width: 100%;
        flex-direction: column;
        gap: $gem;
        padding: $gem 0 $gem3Quart;
    }
    .navbar-list li {
        text-align: center;
    }
    .navbar-list.active {
        display: flex;
    }
}