@use '../abstracts' as *;

.header,.footer {
    display:relative;
    color: $neutral-0;
    
}
.footer{
    border-top: #fff solid 4px;
    background-color: $neutral-1000;
}
.header {
    background-color: $primaryColour;
    border-bottom: $border;

}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: $gem2;
    padding-right: $gem2;

}
.navbar-list{
    margin: 0;
    padding: 0;
    text-align: left;
    display: flex;
    gap: $gaplg;
}
.navlink {
    text-decoration: none;
    color: $neutral-1000;
    padding: 4px;
    border: solid 2px transparent;
}
.logo {
    font-family: $font-Bebas-Neue;
    color: $neutral-1000;
    flex-basis: 1;
    text-shadow: 1px 1px $neutral-0;
    font-weight: 900;
}  

.hamburger-toggle{
    position: absolute;
    top: $gem3Quart;
    right: $gem2;
    display: none;
    flex-direction: column;
    gap: $gap;
    //justify-content: space-around;
    width: $gem2;
    height: $gem2;

}
.navlink:hover, .navlink:focus {
    color: $neutral-0;
    border: solid 2px white;
}

.hamburger-line {
    height: 4px;
    width: 100%;
    background-color: $neutral-1000;
   // border-radius: 10px
}

@media (max-width: 750px) {
    .hamburger-toggle {
        display: flex;
    }
    .navbar-list {
        display: none;
        width: 100%;
    }
    .logo{

        width: 80%;
    }
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar-list {
        width: 100%;
        flex-direction: column;
        gap: $gem;
        padding: $gem 0 $gem3Quart;
    }
    .navbar-list li {
        text-align: center;
    }
    .navbar-list.active {
        display: flex;
    }
}