@use '../abstracts' as *;

button{
    white-space: normal;
    align-items: center;
    border:none;
    cursor: pointer;
    background-color: $grey-200;
    font-size: $gem;
  }

.dice {
  align-items: center;
  border:none;
  background-color: $grey-300;
  display:flex;
  /*grid-template:20px 1fr 20px / 20px 1fr 20px 1fr 20px;
  cursor:default;*/
}
.dieA,.dieB{
  border: solid 8px black;
  border-radius: 12px;
  background-color: $grey-500;
  display:grid;
  grid-template:repeat(5,1fr)/repeat(5,1fr);
  height: 70%;
  margin:auto;
  aspect-ratio: 1 / 1;
}
.dieA{
  grid-area: 2/2;
  transform: rotateZ(-7deg);
}
.dieB{
  grid-area: 2/4;
  transform: rotateZ(4deg);
}

.dotA{
  background-color: $grey-900;
  grid-area: 2/2;
  border-radius: 50%;
}
.dotB{
  background-color: $grey-900;
  grid-area: 3/3;
  border-radius: 50%;
}
.dotC{
  background-color: $grey-900;
  grid-area: 4/4;
  border-radius: 50%;
}
.dotD{
  background-color: $grey-900;
  grid-area: 2/2;
  border-radius: 50%;
}
.dotE{
  background-color: $grey-900;
  grid-area: 2/4;
  border-radius: 50%;
}
.dotF{
  background-color: $grey-900;
  grid-area: 4/2;
  border-radius: 50%;
}
.dotG{
  background-color: $grey-900;
  grid-area: 4/4;
  border-radius: 50%;
}
.btn-lg{
  font-size: $gem2;
  background-color: $grey-400;
}
.btn-small{
  flex: 1 1 50%;
}

