@use '../abstracts' as *;
button{
    white-space: normal;
    align-items: center;
    border:none;
    cursor: pointer;
    background-color: #ddd;
    font-size: $gem;
  }
.btn-lg{
  font-size: $gem2;
  background-color: #bbb;
}

.flexbox-horizontal{
  display:flex;
  gap: 3px;
}

.btn-small{
  flex: 1 1 50%;
}

