@use '../abstracts' as *;

.swatch-palette {
  width: 100%;
  display: grid;
  gap: $gem3Quart;
  padding: $gemHalf;
}


.primary-picker {
  width: 100%;
  display: grid;
  grid-template: 1fr 11fr / 1fr;
  gap: $gap;

}

.slider-container {
  width: 100%;
  display: flex;
  flex-basis: 100% 100% 100%;
  gap: $gap;
  //padding: 1px 2px 2px 1px;
}

.swatch, .btn-container, .primary-swatch {
  position:relative;
  display:grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr;
  row-gap: $gap;
  background-color: $neutral-800;
 // border-radius: $gemHalf;

  border: $border;
  box-shadow: $box-shadow;
  cursor: pointer;
  overflow: hidden;
  //margin:auto;
  font-size: $gem2;
}
.swatch, .btn-container {
  grid-template-rows: 1fr calc(1.25 *$gem);
}

.primary-swatch {
  grid-template-rows: calc(1.25 *$gem) 1fr calc(1.25 *$gem);
}


.btn-random::after {
  position: absolute;
  top: 1rem; 
  width:100%;
  height:100%;

}
.picker-wrapper {
  
  position: relative;
  color:black;
}
.primary-wrapper:hover, .picker-wrapper:hover, .dice:hover {
  box-shadow: $box-shadow-inset-dark;
}
.primary-wrapper:focus-within, .picker-wrapper:focus-within, .dice:focus-within {
  box-shadow: $box-shadow-inset-light;
}

.picker-wrapper::before {

  content: attr(data-content);
  position: absolute;
  text-align: center; 
  top: 1rem; 
  width:100%;
  line-height: 90%;
}
.picker-wrapper::after {

  content: attr(data-rating);
  position: absolute;
  text-align: center; 
  left:3px;
  bottom:$gemQuart;
  width:100%;
  line-height: 90%;
  font-family: $font-ratings;
  //font-size: $gem5Eighth;
  font-size: $gem5Eighth;
  font-weight:500;

}
.primary-container{
  display: grid;
  grid-template-rows: 7fr 3fr;
  gap: $gap;

}

.primary-wrapper {
  width:auto;
  //padding: 0.1em;
  position: relative;
  }
  
.primary-wrapper::before {
  content: attr(name);
  position: absolute;
  text-align: center; 
  left:0;
  top: calc(1.25 *$gem); 
  width:100%;
  line-height: 90%;
  font-size: $font-primary-size;

}
.primary-wrapper::after {
  content: attr(data-content);
  position: absolute;
  text-align: center; 
  left:0;
  top:$gem4;
  width:100%;
  line-height: 90%;
  font-family: $font-ratings;
  font-size: $gem5Eighth;
  font-weight:500;

}



.flexbox-horizontal-btn {
  display:flex;
  gap: $gap;
}
.flexbox-clipboard {
  position: relative;
  display: flex;
  width: 100%;
  overflow: auto;
}

.flexbox-clipboard:hover,
.flexbox-history li:hover,
.flexbox-history button:hover {
  backdrop-filter: brightness(1.6);
}

.flexbox-clipboard:hover::after
{
  font-size: $gem;
  position: sticky;
  display: inline; 
  color: $neutral-0;
  background-color: $neutral-500;
  content: attr(data-content);
  text-align: center;
  line-height: 1;
  top: 0px;
  right: 100%;
  padding: 6px;
  margin-left: none;
  height: min-content;
  width: auto;
  cursor: copy;
  border: 4px solid $neutral-1000;
  border-top: 0;
  border-left: 0;
  border-radius: 0 0px 6px 0px;
}

.flexbox-history li:hover::after,
.flexbox-history button:hover::after {
  font-size: $gem3Quart;

    color: $neutral-0;
    background-color: $neutral-500a;
    font-weight: 200;
    //padding: 0.25em;
    cursor:pointer;
    white-space: pre;
    align-items: center;
    line-height: 1.125;
  
    content: 'load palette';
    text-align: center;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    position: absolute;
    border: 4px solid $neutral-1000;
}



.clipboard,.clipboard-secondary, .flexbox-history li,
.flexbox-history button {
  display: block;
  height: auto;
  width:fit-content;
  font-family: $font-clipboard;
  font-size: calc(0.65 * $gem);
  font-weight: 500;
  padding: 0.25em;
  cursor:pointer;
  white-space: pre;
  //align-items: center;
  text-align: left;
  line-height: 1.125;
  background: none;
}

.clipboard, .history {
  display: block;
  position:relative;
  color: $vscode-blue;
}
.flexbox-history {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  overflow:auto;
  padding: 4px;
  gap: 4px;
  align-content: flex-start;
}

.flexbox-history li, .flexbox-history button{
  display: block;
  //border: 2px solid transparent; //$neutral-300;
  height: $gem;
  width: 100%;//calc(100% - 8px);
  color: $vscode-hex-orange;
}