@use '../abstracts' as *;

.swatch-palette{
  width: 100%;
  display: grid;
  gap: $gem3Quart;
  padding: $gemHalf;
}


.primary-picker{
  width: 100%;
  display: grid;
  grid-template: 1fr 11fr / 1fr;
  gap: $gap;

}

.slider-container{
  width: 100%;
  display: flex;
  flex-basis: 100% 100% 100%;
  gap: $gap;
  padding: 1px 2px 2px 1px;
}

.swatch, .btn-container, .primary-swatch{
  position:relative;
  display:grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr;
  row-gap: $gap;
  background-color: $neutral-800;
 // border-radius: $gemHalf;

  border: $border;
  box-shadow: $box-shadow;
  cursor: pointer;
  overflow: hidden;
  margin:auto;
  font-size: $gem2;
}
.swatch, .btn-container{
  grid-template-rows: 1fr calc(1.25 *$gem);
}

.primary-swatch{
  grid-template-rows: calc(1.25 *$gem) 1fr calc(1.25 *$gem);
}


.btn-random::after{
  position: absolute;
  top: 1rem; 
  width:100%;
  height:100%;

}
.picker-wrapper{

  position: relative;
  color:black;
}
.primary-wrapper:hover, .picker-wrapper:hover{
  border: solid 4px $neutral-500;
}
.primary-wrapper:focus-within, .picker-wrapper:focus-within {
  border: solid 4px white;
}

.picker-wrapper::before{

  content: attr(data-content);
  position: absolute;
  text-align: center; 
  top: 1rem; 
  width:100%;
  line-height: 90%;
}
.picker-wrapper::after{

  content: attr(data-rating);
  position: absolute;
  text-align: center; 
  left:3px;
  bottom:$gemQuart;
  width:100%;
  line-height: 90%;
  font-family: $font-Montserrat, sans-serif;
  font-size: $gem5Eighth;
  font-weight:500;

}


.primary-wrapper{
  //padding: 0.1em;
  position: relative;
  }
  
.primary-wrapper::before{
  content: attr(name);
  position: absolute;
  text-align: center; 
  left:0;
  top: calc(1.25 *$gem); 
  width:100%;
  line-height: 90%;
  font-size: $gem3;

}
.primary-wrapper::after{
  content: attr(data-content);
  position: absolute;
  text-align: center; 
  left:0;
  top:$gem4;
  width:100%;
  line-height: 90%;
  font-family: $font-Montserrat, sans-serif;
  font-size: $gem5Eighth;
  font-weight:500;

}



.flexbox-horizontal-btn{
  display:flex;
  gap: $gap;
}
.flexbox-clipboard{
  display: flex;
  width: 100%;
  overflow: auto;
}

.clipboard,.clipboard-secondary{
  display: flex;
  height: fit-content;
  width:fit-content;
  font-family: $font-SourceCodePro,'Courier New', Courier, monospace;
  font-size: calc(0.65 * $gem);
  font-weight: 500;
  padding: 0.25em;
  cursor:pointer;
  white-space: pre;
  align-items: center;
  line-height: 1.125;
}

.clipboard{
  position:relative;
  color: $vscode-blue;
}

/*
.clipboard::after{
  position:absolute;
  top:0;
  left:0; 
  content: attr(data-content);
  color: $vscode-blue;
}
*/
