@use '../utilities/index' as *;


.picker-grid{
  position:relative;
  display:grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 5fr 2fr;
  border-radius: 10px;
  box-shadow: #000 3px 3px 0px;
  border: solid #000 8px;
  cursor: pointer;
  overflow: hidden;
  margin:auto;
  grid-column:span 1;
  grid-row: span 1;
  font-size: var(--gem2);

}

  /*
  .picker-grid:hover::before{
      content: attr(name);
      position: absolute;
      text-align: center; 
      top: 1rem; 
      width:100%;
      line-height: 90%;
    }
*/



  .picker-grid::before{
      content: attr(name);
      position: absolute;
      text-align: center; 
      top: 1rem; 
      width:100%;
      line-height: 90%;
    }

    .slider-picker-container{
      grid-row: span 2;
      grid-column: span 3;
      display:grid;
      grid-template-rows: 1fr 7fr;
      row-gap: 2rem;
      column-gap: 2rem;
  
    }

    .main-grid{
      display:grid;
      grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
      grid-template-rows: repeat(auto-fit, minmax(200px,1fr));
      margin: auto;
      row-gap: 2rem;
      column-gap: 2rem;
      padding:28px;
    }
  
  
    .pallete{
      margin:auto;
      padding:2rem;
      display:block;
      border-radius: 10px;
      background:#777;
      box-shadow: #000 6x 6px 0px;
      border: solid #000 8px;
  
    }
  