@use '../abstracts' as *;
.large-picker, .btn-container{
  background-color: $grey-1000;
  font-size: $gem3;

}

.picker{
  opacity:0;
  padding:0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  border: none;
  outline: none;
  -webkit-appearance: none;
}
