@use "../abstracts" as *;
.btn-container {
  font-size: $font-primary-size;
}

.picker {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  opacity: 0;
  padding: 0;
  cursor: pointer;
  border: none;
  outline: none;
  -webkit-appearance: none;
}
