@use '../abstracts' as *;
.slider {
    position: relative;
    opacity:100%;
    width: 100%;
    height: 100%;
    cursor: ew-resize;
    //border: none;
    outline: none;
    -webkit-appearance: none;
    grid-row:1/span 1;
    //border: 0;
    //margin: 0;
    //padding: 0;

  }

  input[type=range]::-webkit-slider-thumb {
    position: relative;
    appearance: none;
    height: $gem3Quart;
    width: $gem3Quart;
    transform: rotate(45deg);
    border-radius: 20%;
    opacity: 50%;
    background: #fff;
  }
  input[type=range]::-ms-thumb {
    position: relative;
    appearance: none;
    height: $gem3Quart;
    width: $gem3Quart;
    transform: rotate(45deg);
    border-radius: 20%;
    opacity: 50%;
    background: #fff;
  }
  input[type=range]::-moz-range-thumb {
    position: relative;
    appearance: none;
    height: $gem3Quart;
    width: $gem3Quart;
    transform: rotate(45deg);
    border-radius: 20%;
    opacity: 50%;
    background: #fff;
  }

 

input[name="hue"] {
    background:$rainbow-gradient;
  }
input[name="luminance"] {
  background:linear-gradient(to left, #fff,#555);
}
input[name="saturation"] {
  background:$desaturated-rainbow-gradient;
}

input[name="red"] {
  background:linear-gradient(to right, #777,#d33);
}
input[name="green"] {
background:linear-gradient(to right, #777,#3d3);
}
input[name="blue"] {
background:linear-gradient(to right, #777,#33d);
}

input[name="tint"] {
  background:linear-gradient(to right, #d33,#3d3);
}
input[name="warmth"] {
background:linear-gradient(to left, #dd3,#33d);
}
input[name="lightness"] {
  background:linear-gradient(to left, #fff,#555);
}



input[type=range]:focus, input[type=range]:hover {
  border: solid 4px #fff;
}
input[type=range]:hover::before {
  padding:0;
  content: attr(name);
  position: absolute;
  text-align: center; 
  width:100%;
  height: 100%;
  font-size: $gem;
  line-height: 120%;
  color: $neutral-0;
}

input[type=range]:focus::before, .fakesliderhover::before {
  padding:0;
  content: attr(name);
  position: absolute;
  text-align: center; 
  width:100%;
  height: 100%;
  font-size: $gem;
  line-height: 120%;
  color: $neutral-1000;
  background-color: #fff9;

}


