@use "../abstracts" as *;
.slider {
  position: relative;
  opacity: 100%;
  width: 100%;
  height: 100%;
  cursor: ew-resize;
  //border: none;
  outline: none;
  -webkit-appearance: none;
  grid-row: 1 / span 1;
  //border: $border;
  border-radius: 0;
  //border: 0;
  //margin: 0;
}

input[type="range"]::-webkit-slider-thumb {
  position: relative;
  appearance: none;
  height: $slider-thumb-size;
  width: $slider-thumb-size;
  border-radius: 50%;
  border: $border-slider-thumb;
  background: transparent;
}
input[type="range"]::-ms-thumb {
  position: relative;
  appearance: none;
  height: $slider-thumb-size;
  width: $slider-thumb-size;
  border-radius: 50%;
  border: $border-slider-thumb;
  background: transparent;
}
input[type="range"]::-moz-range-thumb {
  position: relative;
  appearance: none;
  height: $slider-thumb-size;
  width: $slider-thumb-size;
  border-radius: 50%;
  border: $border-slider-thumb;
  background: transparent;
}

input[name="hue"] {
  background: no-repeat $rainbow-gradient 50% 50% / 95% 50%;
}
input[name="luminance"] {
  background: no-repeat linear-gradient(to left, #fff, #555) 50% 50% / 95% 50%;
}
input[name="saturation"] {
  background: no-repeat $desaturated-rainbow-gradient 50% 50% / 95% 50%;
}

input[name="red"] {
  background: no-repeat linear-gradient(to right, #aaa, #d33) 50% 50% / 95% 50%;
}
input[name="green"] {
  background: no-repeat linear-gradient(to right, #aaa, #3d3) 50% 50% / 95% 50%;
}
input[name="blue"] {
  background: no-repeat linear-gradient(to right, #aaa, #33d) 50% 50% / 95% 50%;
}

input[name="tint"] {
  background: no-repeat linear-gradient(to right, #d33, #3d3) 50% 50% / 95% 50%;
}
input[name="warmth"] {
  background: no-repeat linear-gradient(to left, #dd3, #33d) 50% 50% / 95% 50%;
}
input[name="lightness"] {
  background: no-repeat linear-gradient(to left, #fff, #555) 50% 50% / 95% 50%;
}

input[type="range"]:focus,
input[type="range"]:hover {
  box-shadow: inset 0 0  0 4px #fff;
  border-radius: 0;
}
