@use "../abstracts" as *;
.slider {
  position: relative;
  opacity: 100%;
  width: 70%;
  height: 65%;
  cursor: ew-resize;
  //border: none;
  outline: none;
  -webkit-appearance: none;
  grid-row: 1 / span 1;
  border: solid black 2px;
  border-radius: 0;
  //border: 0;
  //margin: 0;
}

input[type="range"]::-webkit-slider-thumb {
  position: relative;
  appearance: none;
  height: $slider-thumb-size;
  width: $slider-thumb-size;
  border-radius: 38%;
  box-shadow: 0 0 0 2px black,
  0 0 0 4px white,
  0 0 0 6px black;
  //border: $border-slider-thumb;
  //outline: black solid 2px;
  background: transparent;
}
input[type="range"]::-ms-thumb {
  position: relative;
  appearance: none;
  height: $slider-thumb-size;
  width: $slider-thumb-size;
  border-radius: 38%;
  box-shadow: 0 0 0 2px black,
  0 0 0 4px white,
  0 0 0 6px black;
  //border: $border-slider-thumb;
  //outline: black solid 2px;
  background: transparent;
}
input[type="range"]::-moz-range-thumb {
  position: relative;
  appearance: none;
  height: $slider-thumb-size;
  width: $slider-thumb-size;
  border-radius: 38%;
  box-shadow: 0 0 0 2px black,
  0 0 0 4px white,
  0 0 0 6px black;
  //border: $border-slider-thumb;
  //outline: black solid 2px;
  background: transparent;
}

input[name="hue"] {
  background: no-repeat $rainbow-gradient;
}
input[name="luminance"] {
  background: no-repeat linear-gradient(to left, #fff, #555);
}
input[name="saturation"] {
  background: no-repeat $desaturated-rainbow-gradient;
}

input[name="red"] {
  background: no-repeat linear-gradient(to right, #aaa, #d33);
}
input[name="green"] {
  background: no-repeat linear-gradient(to right, #aaa, #3d3);
}
input[name="blue"] {
  background: no-repeat linear-gradient(to right, #aaa, #33d);
}

input[name="tint"] {
  background: no-repeat linear-gradient(to right, #d33, #3d3);
}
input[name="warmth"] {
  background: no-repeat linear-gradient(to left, #dd3, #33d);
}
input[name="lightness"] {
  background: no-repeat linear-gradient(to left, #fff, #555);
}

input[type="range"]:focus,
input[type="range"]:hover {
  border-color: white;
}
