  .main-grid{
    display:grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(5, 1fr);
    border-radius: 10px;
    background:#ddd;
    box-shadow: #000 3px 3px 0px;
    border: solid #000 5px;
    gap: 18px;
    padding:18px;
  }

  .picker-grid{
    display:grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 5fr 1fr;
    border-radius: 10px;
    box-shadow: #000 3px 3px 0px;
    border: solid #000 5px;
    cursor: pointer;
    overflow: hidden;
    margin:auto;
  }
  
  label {
   border: solid black 1px;
    margin:auto;
  }

  button{
    white-space: normal;
    align-items: center;
    border:none;
    cursor: pointer;
  }
  
  
  input[type="color"] {
    content:"";
    opacity:0%;
    padding:0px;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
