$grey-0: #fff;
$grey-50: hsl(0,0%,88.2%);
$grey-100: hsl(0,0%,86.3%);
$grey-200: hsl(0,0%,83.9%);
$grey-300: hsl(0,0%,78.8%);
$grey-400: hsl(0,0%,66.7%);
$grey-500: hsl(0,0%,55.7%);
$grey-600: hsl(0,0%,41.2%);
$grey-700: hsl(0,0%,34.1%);
$grey-800: hsl(0,0%,23.1%);
$grey-900: hsl(0,0%,11.8%);
$grey-1000: #000;

$rainbow-gradient: linear-gradient(to right, hsl(0,100%,50%), hsl(60,100%,50%), hsl(120,100%,50%), hsl(180,100%,50%), hsl(240,100%,50%),hsl(300,100%,50%),hsl(360,100%,50%));

$vscode-blue:#9cdcfe;
$vscode-hex-orange:#ce9178;
$vscode-hsl-green: #b5cea8;
