$neutral-0: #fff;
$neutral-50: hsl(0,0%,88.2%);
$neutral-100: hsl(0,0%,86.3%);
$neutral-200: hsl(0,0%,83.9%);
$neutral-300: hsl(0,0%,78.8%);
$neutral-400: hsl(0,0%,66.7%);
$neutral-500: hsl(0,0%,55.7%);
$neutral-600: hsl(0,0%,41.2%);
$neutral-700: hsl(0,0%,34.1%);
$neutral-800: hsl(0,0%,23.1%);
$neutral-900: hsl(0,0%,11.8%);
$neutral-1000: #000;

//$rainbow-gradient: linear-gradient(to right, hsl(0,100%,50%), hsl(60,100%,50%), hsl(120,100%,50%), hsl(180,100%,50%), hsl(240,100%,50%),hsl(300,100%,50%),hsl(360,100%,50%));
//$rainbow-gradient: linear-gradient(to right, hsl(0,100%,70%), hsl(60,100%,70%), hsl(120,100%,70%), hsl(180,100%,70%), hsl(240,100%,70%),hsl(300,100%,70%),hsl(360,100%,70%));
$rainbow-gradient: linear-gradient(to right, hsl(0,100%,80%), hsl(60,100%,80%), hsl(120,100%,80%), hsl(180,100%,80%), hsl(240,100%,80%),hsl(300,100%,80%),hsl(360,100%,80%));
$vscode-blue:#9cdcfe;
$vscode-hex-orange:#ce9178;
$vscode-hsl-green: #b5cea8;

$primaryColour: hsl(14,69.3%,68%);
$monochromeA: hsl(14,69.2%,58%);
$monochromeB: hsl(14,69.6%,78%);
$analogousA: hsl(344,69.3%,68%);
$analogousB: hsl(44,69.3%,68%);
$triadicA: hsl(254,69.3%,68%);
$triadicB: hsl(134,69.3%,68%);
$tetradicA: hsl(104,69.3%,68%);
$tetradicB: hsl(194,69.3%,68%);
$tetradicC: hsl(284,69.3%,68%);
$neutral: hsl(0,0%,67.8%);

$primaryColour: #e68f75;
$monochromeA: #de6c4a;
$monochromeB: #eeb2a0;
$analogousA: #e67593;
$analogousB: #e6c875;
$triadicA: #8f75e6;
$triadicB: #75e68f;
$tetradicA: #93e675;
$tetradicB: #75cce6;
$tetradicC: #c875e6;
$neutral: #adadad;