@use './units' as *;
@use './colours' as *;
$border-slider-thumb: solid $neutral-0 $gemEighth;
$border: solid $neutral-1000 $gemEighth;
$borderRadius: $gemEighth;
$borderRadius-slider: $gem;
$gap: $gemEighth;
$gaplg: $gem3Quart;
$box-shadow: $neutral-1000 $gemQuart $gemQuart 0px;
$box-shadow-inset-light: inset 0px 0px 0px $gap $neutral-0;
$box-shadow-inset-dark: inset 0px 0px 0px $gap $neutral-1000;
$icon-size: calc(1 * $gem);
$icon-size-sml: calc(0.65 * $gem);
$slider-thumb-size: calc(0.65 * $gem);
