  /* Dynamic Sizing */
 $font_ratio: 1.6;
  
 $font_min_px: 16;
 $font_max_px: 44;
  
 $min_width_px: 380;
 $max_width_px: 3600;
  
 $font_min_rem: calc(1rem *($font_min_px/16));
 $font_max_rem: calc(1rem *($font_max_px/16));
  
 $increment_decimal: calc( ( $font_max_px - $font_min_px ) / ( $max_width_px - $min_width_px ) );
 $increment_vw: calc( $increment_decimal * 100vw);
  
 $offset_rem: calc(($font_min_px - ($min_width_px * $increment_decimal ))/16*1rem);
  
 $font_mid: calc( $offset_rem + $increment_vw );
  
 $gem: clamp($font_min_rem, $font_mid, $font_max_rem );
 $gemEighth: calc($gem * 0.125);
 $gem5Eighth: calc($gem * 0.625);
 $gemHalf: calc($gem * 0.5);
 $gemQuart: calc($gem * 0.25);
 $gem3Quart: calc($gem * 0.75);

 $gem2: calc($gem * $font_ratio);
 $gem3: calc($gem2 * $font_ratio);
 $gem4: calc($gem3 * $font_ratio);
 $gem5: calc($gem4 * $font_ratio);
 $gem6: calc($gem5 * $font_ratio);
 $gem7: calc($gem6 * $font_ratio);
 $gem8: calc($gem7 * $font_ratio);
 $gem9: calc($gem8 * $font_ratio);
 $gem10: calc($gem9 * $font_ratio);
 $gem11: calc($gem10 * $font_ratio);
 $gem12: calc($gem11 * $font_ratio); 