@use '../abstracts' as *;
/* Grid areas */
.header{
    grid-area: header;
}
.main-picker{
    grid-area: picker;
}
.swatch-palette{
    grid-area: palette;
}
.footer{
    grid-area: footer;
}
/*
Grid level 2 areas
*/
.MonochromeA{
    grid-area: MonochromeA;
}
.MonochromeB{
    grid-area: MonochromeB;
}
.AnalogousA{
    grid-area: AnalogousA;
}
.AnalogousB{
    grid-area: AnalogousB;
}
.TriadicA{
    grid-area: TriadicA;
}
.TriadicB{
    grid-area: TriadicB;
}
.TetradicA{
    grid-area: TetradicA;
}
.TetradicB{
    grid-area: TetradicB;
}
.TetradicC{
    grid-area: TetradicC;
}
.btn-container{
    grid-area: btn-container;
}

$swatch-palette-small: 
"MonochromeA" 1fr
"MonochromeB" 1fr
"AnalogousA" 1fr
"AnalogousB" 1fr
"TriadicA" 1fr
"TriadicB" 1fr
"TetradicA" 1fr
"TetradicB" 1fr
"TetradicC" 1fr
"btn-container" 1fr 
/ 1fr;


$swatch-palette-medium: 
"MonochromeA MonochromeB" 1fr
"AnalogousA AnalogousB" 1fr
"TriadicA TriadicB" 1fr
"TetradicA TetradicB" 1fr
"TetradicC btn-container" 1fr
/ 1fr 1fr;


$swatch-palette-large: 
"MonochromeA MonochromeA MonochromeA MonochromeB MonochromeB MonochromeB" 1fr
"AnalogousA AnalogousA AnalogousA AnalogousB AnalogousB AnalogousB" 1fr
"TriadicA TriadicA TriadicA TriadicB TriadicB TriadicB" 1fr
"TetradicA TetradicA TetradicB TetradicB TetradicC TetradicC" 1fr
". . btn-container btn-container . ." 1fr 
/ 1fr 1fr 1fr 1fr 1fr 1fr;


.body-grid{
    background-color: #777;
    width: clamp(240px, 100vw, 137.5em);
    margin: auto;
    display:grid;
    min-height: 100vh;
}





$body-grid-small: 
"header header header" auto
". picker  ." 1fr
". palette ." 5fr
"footer footer footer" auto 
/ 1em 1fr 1em;



$body-grid-large: 
"header header header header" auto
". picker palette ." 0.2fr
". . palette ." 1fr
"footer footer footer footer" auto 
/ 1em 0.5fr 0.5fr 1em;





@media all and (min-width: 0px){

    .body-grid{
        grid-template: $body-grid-small;
    }

    .swatch-palette {
        grid-template: $swatch-palette-small;    
    }
}


@media all and (min-width: $bp-tiny){

    .body-grid{
        grid-template: $body-grid-small;
    }

    .swatch-palette {
        grid-template: $swatch-palette-medium;    
    }
}

@media all and (min-width: $bp-small){

    .body-grid{
        grid-template: $body-grid-small;
    }

    .swatch-palette {
        grid-template: $swatch-palette-medium;    
    }
}

@media all and (min-width: $bp-medium){

    .body-grid{
        grid-template: $body-grid-large;
    }

    .swatch-palette {
        grid-template: $swatch-palette-medium;    
    }
}


@media all and (min-width: $bp-large){
    .body-grid{
        grid-template: $body-grid-large;
    }

    .swatch-palette {
        grid-template: $swatch-palette-large;      
    }

}

