@use '../abstracts' as *;
/* Grid areas */
.header{
    grid-area: header;
}
.swatch-palette{
    grid-area: palette;

}
.footer{
    grid-area: footer;
}
.body-grid{
    position:relative;
    top:0;
    left:0;
    background-color: $grey-500;
    height: 100vh;
    width: clamp(270px, 100vw, 170em);
    margin-left: auto;
    margin-right: auto;
    display:grid;
    grid-template: 
    "header header header" 24px
    ". palette ." 1fr
    "footer footer footer" 24px 
    / 1em 1fr 1em;
}


/*
Grid level 2 areas
*/
.main-swatch{
    grid-area: picker;
}
.monochromeA{
    grid-area: monochromeA;
}
.monochromeB{
    grid-area: monochromeB;
}
.analogousA{
    grid-area: analogousA;
}
.analogousB{
    grid-area: analogousB;
}
.triadicA{
    grid-area: triadicA;
}
.triadicB{
    grid-area: triadicB;
}
.tetradicA{
    grid-area: tetradicA;
}
.tetradicB{
    grid-area: tetradicB;
}
.tetradicC{
    grid-area: tetradicC;
}
.neutral{
    grid-area: neutral;
}
.btn-copy{
    grid-area: copyAll;
}
.btn-random{
    grid-area: random;
}
/*.clipboard{
    grid-area: clipboard;
}


$picker-height-tiny: 24em;
$swatch-height-tiny: 12em;

$picker-height-small: 16em;
$swatch-height-small: 8em;

$picker-height-medium: 16em;
$swatch-height-medium: 12em;

$picker-height-large: 32em;
$swatch-height-large: 16em;
*/
$swatch-palette-tiny-areas: 
"picker" 
"picker" 
"monochromeA" 
"monochromeB" 
"analogousA" 
"analogousB" 
"triadicA" 
"triadicB" 
"tetradicA" 
"tetradicB" 
"tetradicC" 
"neutral" 
"copyAll"
"random";
//$swatch-palette-tiny-rows: $picker-height-tiny repeat(11, $swatch-height-tiny);
//$swatch-palette-tiny-columns: 1fr;

$swatch-palette-small-areas: 
"picker picker"
"picker picker"
"monochromeA monochromeB" 
"analogousA analogousB" 
"triadicA triadicB" 
"tetradicA tetradicB" 
"tetradicC neutral"
"copyAll copyAll"
"random random";
//$swatch-palette-small-rows: $picker-height-small repeat(11, $swatch-height-small);
//$swatch-palette-small-columns: 1fr 1fr;

$swatch-palette-medium-areas: 
"picker picker picker picker"
"picker picker picker picker"
"monochromeA monochromeB analogousA analogousB"
"tetradicA tetradicB tetradicC neutral" 
"triadicA triadicB copyAll random";
//$swatch-palette-medium-rows: $picker-height-medium repeat(6, $swatch-height-medium);
//$swatch-palette-medium-columns: repeat(4,1fr);

$swatch-palette-large-areas: 
"picker picker monochromeA monochromeB"
"picker picker analogousA analogousB"
"neutral  neutral  triadicA triadicB"
"tetradicA tetradicB tetradicB tetradicC "
"random random copyAll copyAll";

//$swatch-palette-large-rows: repeat(4,$swatch-height-large);
//$swatch-palette-large-columns: repeat(5,1fr);

$swatch-palette-huge-areas: 
"monochromeA monochromeB picker picker triadicA triadicB" 
"analogousA analogousB picker picker tetradicA tetradicC" 
"copyAll copyAll neutral random  tetradicB tetradicB";
//$swatch-palette-huge-rows: repeat(3,$swatch-height-large);
//$swatch-palette-huge-columns: repeat(6,1fr);

$swatch-palette-extra-huge-areas: 
"copyAll copyAll monochromeA monochromeB picker picker triadicA triadicB" 
"copyAll copyAll analogousA analogousB picker picker tetradicA tetradicC" 
"copyAll copyAll neutral neutral random random  tetradicB tetradicB";


.swatch-palette {
    overflow-y:auto; 
    grid-auto-rows: calc(5.4 * $gem);
    grid-auto-columns: 1fr;
   
}
@media all and (min-width: 0px){
    .swatch-palette {
        grid-template-areas: $swatch-palette-tiny-areas;
        //grid-template-rows: $swatch-palette-tiny-rows;
        //grid-template-columns: $swatch-palette-tiny-columns;
    }
}

@media all and (min-width: $bp-tiny){
    .swatch-palette {
        grid-template-areas: $swatch-palette-small-areas;  
        //grid-template-rows: $swatch-palette-small-rows;    
        //grid-template-columns: $swatch-palette-small-columns;    
    }
}

@media all and (min-width: $bp-small){
    .swatch-palette {
        grid-template-areas: $swatch-palette-medium-areas;  
        //grid-template-rows: $swatch-palette-medium-rows;    
        //grid-template-columns: $swatch-palette-medium-columns; 
        grid-auto-rows: minmax(calc(5 * $gem),1fr);
   
    }
}

@media all and (min-width: $bp-medium){
    .swatch-palette {
        grid-template-areas: $swatch-palette-large-areas;  
        //grid-template-rows: $swatch-palette-large-rows;    
        //grid-template-columns: $swatch-palette-large-columns;
        grid-auto-rows: minmax(calc(5 * $gem),1fr);
    
    }
}

@media all and (min-width: $bp-large){
    .swatch-palette {
        grid-template-areas: $swatch-palette-huge-areas;  
        //grid-template-rows: $swatch-palette-huge-rows;    
        //grid-template-columns: $swatch-palette-huge-columns; 
        grid-auto-rows: minmax(calc(5 * $gem),1fr);
   
    }
}