@use '../abstracts' as *;
/* Grid areas */
.header{
    grid-area: header;
}
.swatch-palette{
    grid-area: palette;
}
.footer{
    grid-area: footer;
}
/*
Grid level 2 areas
*/
.main-picker{
    grid-area: picker;
}
.MonochromeA{
    grid-area: MonochromeA;
}
.MonochromeB{
    grid-area: MonochromeB;
}
.AnalogousA{
    grid-area: AnalogousA;
}
.AnalogousB{
    grid-area: AnalogousB;
}
.TriadicA{
    grid-area: TriadicA;
}
.TriadicB{
    grid-area: TriadicB;
}
.TetradicA{
    grid-area: TetradicA;
}
.TetradicB{
    grid-area: TetradicB;
}
.TetradicC{
    grid-area: TetradicC;
}
.btn-container{
    grid-area: btn-container;
}
$picker-height-med: 24em;
$swatch-height-med: 12em;


$swatch-palette-small: 
"picker" 2fr
"MonochromeA" 1fr
"MonochromeB" 1fr
"AnalogousA" 1fr
"AnalogousB" 1fr
"TriadicA" 1fr
"TriadicB" 1fr
"TetradicA" 1fr
"TetradicB" 1fr
"TetradicC" 1fr
"btn-container" 1fr 
/ 1fr;


$swatch-palette-medium-areas: 
"picker picker"
"MonochromeA MonochromeB" 
"AnalogousA AnalogousB" 
"TriadicA TriadicB" 
"TetradicA TetradicB" 
"TetradicC btn-container" ;

$swatch-palette-medium-rows: $picker-height-med repeat(5, $swatch-height-med);
$swatch-palette-medium-columns: repeat(2,1fr);


$swatch-palette-large: 
"picker picker picker picker picker picker MonochromeA MonochromeA MonochromeA MonochromeB MonochromeB MonochromeB" 1fr
"picker picker picker picker picker picker AnalogousA AnalogousA AnalogousA AnalogousB AnalogousB AnalogousB" 1fr
"picker picker picker picker picker picker TriadicA TriadicA TriadicA TriadicB TriadicB TriadicB" 1fr
"TetradicA TetradicA TetradicA TetradicB TetradicB TetradicB TetradicC TetradicC TetradicC btn-container btn-container btn-container" 1fr
/ 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

$swatch-palette-extra-large: 
"MonochromeA MonochromeB picker picker TriadicA TriadicB" 1fr
"AnalogousA AnalogousB picker picker TetradicA TetradicC" 1fr
"btn-container btn-container . .  TetradicB TetradicB" 1fr
/ 1fr 1fr 1fr 1fr 1fr 1fr;



.body-grid{
    position:relative;
    top:0;
    left:0;
    background-color: $grey-500;
    height: 100vh;
    width: clamp(240px, 100vw, 137.5em);
    margin-left: auto;
    margin-right: auto;

    display:grid;
}
.swatch-palette {
    overflow-y:auto;    
}





$body-grid: 
"header header header" 24px
". palette ." 1fr
"footer footer footer" 24px 
/ 1em 1fr 1em;

@media all and (min-width: 0px){

    .body-grid{
        grid-template: $body-grid;
    }

    .swatch-palette {
        grid-template: $swatch-palette-small;    
    }
}

@media all and (min-width: $bp-tiny){

    .body-grid{
        grid-template: $body-grid;
    }

    .swatch-palette {
        grid-template-areas: $swatch-palette-medium-areas;  
        

        grid-template-rows: $swatch-palette-medium-rows;    
        grid-template-columns: $swatch-palette-medium-columns;    
    }
}

@media all and (min-width: $bp-small){

    .body-grid{
        grid-template: $body-grid;
    }

    .swatch-palette {
        grid-template-areas: $swatch-palette-medium-areas;  
        grid-template-rows: $picker-height-med repeat(5, $swatch-height-med);    
        grid-template-columns: 1fr 1fr;    
    }
}

@media all and (min-width: $bp-medium){

    .body-grid{
        grid-template: $body-grid;
    }

    .swatch-palette {
        grid-template: $swatch-palette-large;    
    }
}

@media all and (min-width: $bp-large){
    .body-grid{
        grid-template: $body-grid;
    }

    .swatch-palette {
        grid-template: $swatch-palette-extra-large;      
    }
}